@model Flavor_Forge.Entities.User
@{
    ViewBag.Title = "Login";
}
<div class="pt-5">
    <h1 class="text-center">Login</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-body">
                    <!-- If invalid credentials -->
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                    <!-- Login form -->
                    @using (Html.BeginForm("Login", "Auth"))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4" />

                        <div class="form-group required">
                            @Html.LabelFor(m => m.Username, "Username / Email", new { @for = "username" })
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control text-lowercase", @id = "username", required = "required" })
                        </div>

                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="password">
                                @Html.LabelFor(m => m.Password, "Password", new { @class = "mr-auto" })
                            </label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password", required = "required" })
                        </div>

                        <div class="form-group pt-1">
                            <button class="btn btn-primary btn-block" type="submit">Log In</button>
                        </div>
                    }

                    <!-- Register button -->
                    <p class="small-xl pt-3 text-center">
                        <span class="text-muted">Not a member?</span>
                        <a href="@Url.Action("Register","Auth")">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background: #f8f9fa !important;
    }

    h1 {
        color: black;
        padding-bottom: 2rem;
        font-weight: bold;
    }

    a {
        color: #333;
    }

        a:hover {
            color: #0d6efd;
            text-decoration: none;
        }

    .form-control:focus {
        color: #000;
        background-color: #fff;
        border: 2px solid #0d6efd;
        outline: 0;
        box-shadow: none;
    }

    .btn {
        background: #0d6efd;
        border: #0d6efd;
    }

        .btn:hover {
            background: #0d6efd;
            border: #0d6efd;
        }

    .alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
</style>